.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}
.paragraph {
  padding-right: 20px;
  font-size: 1.2em;
  text-align: center;
  align-items: center;
  width: 50%;

  @media only screen and(max-width:834px) {
    width: 100%;
  }
}
.image {
  height: 100%;
  width: 40%;

  @media only screen and(max-width:834px) {
    display: none;
  }
}
.reverse {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
  flex-direction: row-reverse;
}
